<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,136}}</string>
                <key>offset</key>
                <string>{16,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{136,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,136}}</string>
                <key>offset</key>
                <string>{15,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{134,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{132,136}}</string>
                <key>offset</key>
                <string>{14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{132,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{130,136}}</string>
                <key>offset</key>
                <string>{13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{130,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{128,136}}</string>
                <key>offset</key>
                <string>{12,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{128,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{126,136}}</string>
                <key>offset</key>
                <string>{11,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{126,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{124,136}}</string>
                <key>offset</key>
                <string>{10,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{124,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>ss/0007</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{122,136}}</string>
                <key>offset</key>
                <string>{9,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,578},{122,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{122,136}}</string>
                <key>offset</key>
                <string>{8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{122,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{120,136}}</string>
                <key>offset</key>
                <string>{8,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>ss/0022</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,140},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
            <key>68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{120,136}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,578},{120,136}}</string>
                <key>sourceSize</key>
                <string>{960,1440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingaction.png</string>
            <key>size</key>
            <string>{2028,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa9f98900e291eb3f25e15fd4a3ecd5:f12aab0d09d366c625d032222db2cbf6:f78bc69481bfcea5af72fe3beb7e45a9$</string>
            <key>textureFileName</key>
            <string>loadingaction.png</string>
        </dict>
    </dict>
</plist>
